# Python virtual environments
venv/
env/
.venv/
.env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
.env.*
*.env

# Git files
.git/
.gitignore
.gitattributes

# Docker files
Dockerfile
.dockerignore

# # Logs
# logs/
*.log

# Temporary files
*.swp
*.swo
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Build artifacts
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Testing
.coverage
htmlcov/
.pytest_cache/
